@charset "utf-8";
@import "_config";

@import "base/_mixin";

@import "components/_content";
@import "components/_main";
@import "components/_sec";
@import "components/_title";
@import "components/_contact";
@import "components/_btn";
@import "components/_pageTop";
@import "components/_pageNav";

/*------------------------------
 mixin
------------------------------*/
@mixin clearfix($color: #fff, $fSize: 16px) {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
@mixin hoge($color: #fff, $fSize: 16px) {
  color: $color;
  font-size: $fSize;
}

/*------------------------------
 header
------------------------------*/
.profile {
  &__header {
    padding-top: 50px;
    margin-bottom: 30px;
  }

  &__headerTitle {
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    span {
      display: block;
      font-size: 14px;
      font-weight: normal;
    }
  }

  &__desc {
    text-align: center;
  }

  &__descText {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }

  /* body
  ------------------------------*/
  &__body {
  }

  &__inner {
  }

  &__content {
    width: 100%;
    height: auto;
    background-color: rgba(255,255,255,0.7);
    padding: 50px;
    margin-bottom: 40px;
    &::after {
      @include clearfix(); // 引数は初期値のを使用
    }
  }

  &__mainTitle {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  &__mainBox {
    margin-bottom: 20px;
  }

  &__imageBox {
    width: 100%;
    margin-bottom: 20px;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
  }

  &__textBox {
    float: left;
    padding-left: 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 3px solid #202f55;
    padding: 12px 0;
    margin-bottom: 15px;
  }

  &__text {
    line-height: 1.8;
    margin-bottom: 0;

    a {
      color: #0073aa;
    }
  }
}

.sec__btn {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

/*----------------------------------------
 max-width: 767px
----------------------------------------*/
@media only screen and (max-width: 767px) {
  /*------------------------------
   wrapper
  ------------------------------*/
  #wrapper {
    //padding-top: 60px; /* 固定header対策 */
  }

  /*------------------------------
   header
  ------------------------------*/
  .profile {
    &__header {
      padding-top: 30px;
    }

    &__headerTitle {
      margin-bottom: 10px;
    }

    &__desc {
    }

    &__descText {
      font-size: 16px;
    }

    /* body
    ------------------------------*/
    &__body {
    }

    &__inner {
    }

    &__content {
      padding: 15px;
      margin-bottom: 20px;
    }

    &__imageBox {
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }

    &__image {
      display: block;
      width: 100%;
      height: auto;
    }

    &__textBox {
      float: none;
      padding-left: 0;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__text {
      font-size: 14px;
    }
  }

}